.role-permission-table {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    border-color: cyan;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    thead {
        tr {
            background-color: #f1f1f1;
            color: #007bff;
            text-align: left;
        }
    }

    th,
    td {
        padding: 12px 15px;
    }

    tbody {
        tr {
            border-bottom: 1px solid #dddddd;

            &:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            &:last-of-type {
                border-bottom: 2px solid #007bff;
            }

            &:hover {
                background-color: #f1f1f1;
            }
        }
    }
}

.top-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
}

.save-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.p-button-success {
    background-color: #28a745 !important;
    border-color: #28a745 !important;

    &:hover {
        background-color: #218838 !important;
        border-color: #1e7e34 !important;
    }
}

.p-button-info {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;

    &:hover {
        background-color: #138496 !important;
        border-color: #117a8b !important;
    }
}

.p-button-danger {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;

    &:hover {
        background-color: #c82333 !important;
        border-color: #bd2130 !important;
    }
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Optional: Adds space between the buttons */
}

.save-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Optional: Adds space above the button */
}
.styled-table th, .styled-table td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 1px solid #ddd;
}

.styled-table th {
    background-color: #f4f4f4;
}

.styled-table tr:hover {
    background-color: #f1f1f1;
}
